//TABLET EXCURSION SECTION
.excursion-section
  padding-bottom: 60px
  .section-header
    margin-bottom: 80px
  .excursion-block1
    margin-bottom: 32px
    .images-container
      float: left
      .img-front
        float: right
        margin-top: 17%
        max-width: 79%
      .img-back
        height: 304 / 477 *100%
        width: 455 / 384 * 100%
        top: -20 / 477 * 100%
        left: -177 / 384 * 100%
    .text-container
      .text-block
        padding: $tb-text-block-right-padding
        -webkit-box-sizing: border-box
        -moz-box-sizing: border-box
        box-sizing: border-box
        width: 100%
        font-size: 14px
        font-weight: 400

  .excursion-block2
    .text-container
      padding: 0 0 0 8%
    .text-container-left
      padding: 0 2% 0 0

  .pattern-waves-1
    @include pattern-right(789, -336, -100px)

  .pattern-waves-2
    @include pattern-left(537, 415, -20px)
    z-index: 4
    transform: scale(-1,1)


