
//TABLET PRACTICE SECTION
.practice-section
  padding-bottom: 130px

  .section-header
    margin-bottom: 100px
    .section-header_text
      margin-top: 35px
      padding-left: 18%
      padding-right: 18%

    .section-header_nav
      ul
        max-width: 650px
        li
          flex: 1
          flex-basis: 30%
          margin-bottom: 1.5em
        .item-1
          -webkit-box-sizing: border-box
          -moz-box-sizing: border-box
          box-sizing: border-box
          padding-right: 4em
        .item-2
          flex: 1
          flex-basis: 30%
        .item-3
          -webkit-box-sizing: border-box
          -moz-box-sizing: border-box
          box-sizing: border-box
          padding-left: 8em
        .item-6
          flex: 1
          flex-basis: 30%
        .item-9
          flex: 1
          flex-basis: 30%

  .text-block
    font-weight: 500
    text-align: center
    >p
      text-align: left
      margin-bottom: 3em
    h3
      color: $biege
      margin-bottom: 21px

  /* BLOCK 1 - Хатха йога*/
  .practice-block1
    margin-bottom: 44px
    .images-container
      .img-front
        margin-top: 2%
        width: 364/384 *100%

    .text-block
      padding: $tb-text-block-left-padding
      >p
        margin-bottom: 2em



  /* BLOCK 2 - цены Хатха йога */
  .practice-block2
    margin-bottom: 117px
    .text-container
      .order-block
        margin-left: 7%
    .text-container-left
      .order-block
        margin-right: 7%

  /* BLOCK 3 - Пранаяма*/
  .practice-block3
    margin-bottom: 72px
    .images-container
      .img-front
        margin-top: 10%
        width: 320/384 *100%

    .text-container
      .text-block
        padding: $tb-text-block-right-padding

  /* BLOCK 4 - Нидра*/
  .practice-block4
    margin-bottom: 68px
    .images-container
      .img-front
        margin-top: 30%
        width: 220/384 *100%
      .img-back
        width: 320/384 *100%
        height: 215/414 *100%
        top: -5%
        right: -5%
    .text-container
      .text-block
        padding: $tb-text-block-left-padding

  /* BLOCK 5 - Йога доверия */
  .practice-block5
    margin-bottom: 60px
    .images-container
      .img-front
        margin-top: 25%
        width: 364/384 *100%

    .text-container
      .text-block
        padding: $tb-text-block-right-padding

  /* BLOCK 6 - Доша йога */
  .practice-block6
    margin-bottom: 62px
    .images-container
      .img-front
        margin-top: 15%
        width: 320/384 *100%

    .text-container
      .text-block
        padding: $tb-text-block-left-padding

  /* BLOCK 7 - Мантра медитация */
  .practice-block7
    margin-bottom: 80px
    .images-container
      .img-front
        margin-top: 15%
        width: 364/384 *100%

    .text-container
      .text-block
        padding: $tb-text-block-right-padding
        >p
          margin-bottom: 2em
        .text-block_list
          margin-bottom: 3em

  /* BLOCK 8 - Детская йога */
  .practice-block8
    margin-bottom: 30px
    .images-container
      .img-front
        margin-top: -5%
        margin-left: 0
        width: 364/384 *100%

    .text-container
      .text-block
        padding: $tb-text-block-left-padding

  /* BLOCK 9 - цены Детская йога */
  .practice-block9
    margin-bottom: 30px
    .text-container
      .order-block
        margin-left: 7%
    .text-container-left
      .order-block
        margin-right: 7%

  /* BLOCK 10 - Цигун */
  .practice-block10
    margin-bottom: 36px
    .images-container
      .img-front
        margin-top: 20%
        width: 364/384 *100%

    .text-container
      .text-block
        padding: $tb-text-block-right-padding
        >p
          margin-bottom: 2em
        .text-block_list
          margin-bottom: 3em


  /* BLOCK 11 - в гамаках */
  .practice-block11
    .images-container
      .img-front
        margin-top: 25%
        margin-left: 0
        width: 320/384 *100%
      .img-back
        width: 301/384 *100%
        height: 200/555 *100%
        top: -5%
        right: 2%
    .text-container
      .text-block
        padding: $tb-text-block-left-padding
        >p
          &:first-child
            margin-bottom: 1em

  /* BLOCK 12 - цены в гамаках */
  .practice-block12
    .text-container
      .order-block
        margin-left: 7%
    .text-container-left
      .order-block
        margin-right: 7%

  .pattern-waves-1
    @include pattern-left(537, -276, 720px)
  .pattern-waves-2
    @include pattern-right(384*3, -71*3, -50px)
    z-index: 6
  .pattern-waves-3
    @include pattern-left(700*2, -1000*3, -75px)
  .pattern-waves-4
    @include pattern-right(670*2, -382*2, 155px)
    z-index: 4
  .pattern-waves-5
    @include pattern-left(900*2, -289*2, -45px)
  .pattern-waves-6
    @include pattern-right(651*2, -320*2, -25px)
  .pattern-waves-7
    @include pattern-left(725*2, -223*2, 200px)
    z-index: 6
  .pattern-waves-8
    @include pattern-right(742*2, -360*2, -100px)
  .pattern-waves-9
    @include pattern-left(742*2, -300*2, -50px)
  .pattern-waves-10
    @include pattern-left(470*2, 288*2, 250px)
    z-index: 6
    transform: scale(-1,-1)