
//TABLET SECTIONS BASE

.section-top-img
  height: 320px
  .layer-words
    height: 150%
    min-height: 350px
    top: -25%

.section-header
  padding-top: 50px
  h2
    font-size: 80px
    .h-line-2
      font-size: 40px
  .section-header_text
    line-height: 1.5
    font-weight: 400

  .section-header_nav
    margin-top: 18px
    ul
      padding: 0
      list-style: none
      margin: 0 auto
      max-width: 1000px
      display: flex
      justify-content: space-around
      flex-wrap: wrap
      a
        font-size: 14px


.excursion-section,.tea-section,.practice-section,.thermal-section
  .section-block
    .text-container
      .text-block
        margin-left: 0
        margin-right: 0
        max-width: 100%
        box-sizing: border-box
        float: none
        line-height: 1.5
        font-weight: 500
        >p
          margin-bottom: 2em

.order-block
  width: 320px

.text-block
  .time-block
    top: -1.5em

