
//TABLET TEA SECTION
.tea-section
  padding-bottom: 55px
  .section-header
    margin-bottom: 95px

    .section-header_text
      margin-top: 13px
      padding-left: 22%
      padding-right: 22%


  .text-block
    >p
      margin-bottom: 3em
    h3
      color: $darkbiege
      margin-bottom: 27px

  /* BLOCK 1 - Сэнтя до*/
  .tea-block1
    margin-bottom: 165px

    .images-container
      .img-front
        margin-top: 0
        max-width: 365 / 384 * 100%

    .text-block
      padding: $tb-text-block-left-padding


  /* BLOCK 2 - Рякубон*/
  .tea-block2
    margin-bottom: 246px
    .images-container
      padding-right: 0
      .img-front
        margin-top: 100/488 *100%
        max-width: 322/384 *100%
      .img-back
        max-width: 761px
        max-height: 509px
        width: 488/384 * 100%
        height: 326/488 *100%
        top: -90/488 *100%
        left: -170/384 *100%

    .text-container
      .text-block
        padding: $tb-text-block-right-padding

  /* BLOCK 3 - Хакоби */
  .tea-block3
    margin-bottom: 50px
    .images-container
      .img-front
        margin-top: 23%
        margin-left: 0
        width: 293/384 *100%
      .img-back
        width: 267/384 *100%
        height: 302/541 *100%
        top: -21%
        right: 0

    .text-container
      .text-block
        padding: $tb-text-block-left-padding

  /* BLOCK 4 - Пинча */
  .tea-block4
    margin-bottom: 75px
    .text-container
      .text-block
        padding: $tb-text-block-right-padding

  /* BLOCK 5 - Гунфу ча */
  .tea-block5
    margin-bottom: 105px
    .images-container
      .img-front
        float: left
        width: 364/384 *100%

    .text-container
      .text-block
        padding: $tb-text-block-left-padding
        margin-top: -37%

  /* BLOCK 6 - Лу Юй */
  .tea-block6
    .images-container
      .img-front
        float: right
        margin-top: 0
        width: 364/384 *100%

    .text-container
      .text-block
        padding: $tb-text-block-right-padding

  .pattern-waves-1
    @include pattern-left(789, -265, -100px)
  .pattern-waves-2
    @include pattern-right(573, 290, -80px)
  .pattern-waves-3
    @include pattern-right(825, -233, -300px)
    transform: scale(-1, 1)
  .pattern-waves-4
    @include pattern-left(657*2, 30*2, 0px)
    z-index: 4
  .pattern-waves-5
    @include pattern-right(637*2, -50*2, 30px)
    z-index: 4
  .pattern-waves-6
    @include pattern-left(692*2, -1950, 50px)
    transform: scale(-1, -1)
  .pattern-waves-7
    @include pattern-right(798*2, -335*2, 140px)
    z-index: 5
  .pattern-waves-8
    @include pattern-left(557*2, 220*3, 200px)
    transform: scale(1, -1)