//TABLET THERMAL SECTION
.thermal-section
  padding-bottom: 95px
  .section-header
    margin-bottom: 120px
    .section-header_text
      margin-top: 30px
      padding-left: 17%
      padding-right: 17%

    .section-header_nav
      ul
        justify-content: space-between
      li
        flex: 1
        flex-basis: 40%
        margin-bottom: 2em


  .text-block
    font-weight: 400
    >p
      margin-bottom: 3em
    h3
      margin-bottom: 23px

  .visible-560-750
    display: none
    @media (min-width: 559px) and (max-width: 750px)
      display: block



  /* BLOCK 1 - Программа индивидуальная аюрведическая */
  .thermal-block1
    margin-bottom: 50px
    .text-container
      padding-left: 14%
      padding-right: 14%
      text-align: center
      .text-block
        display: inline-block
        max-width: 100%


  /* BLOCK 2 - Практики Доша-Йога*/
  .thermal-block2
    margin-bottom: 55px
    .images-container
      .img-front
        margin-top: -5%
        margin-left: 0
        width: 364/384 *100%

    .text-container
      .text-block
        padding: $tb-text-block-left-padding


  /* BLOCK 3 - Купальни*/
  .thermal-block3
    margin-bottom: 112px
    .images-container
      .img-front
        margin-top: -6%
        width: 364/384 *100%

    .text-container
      .text-block
        padding: $tb-text-block-right-padding

  /* BLOCK 4 - Аюрведический уход*/
  .thermal-block4
    margin-bottom: 55px
    .images-container
      .img-front
        margin-top: 50%
        margin-left: 0
        width: 320/384 *100%
      .img-back
        width: 325/384 *100%
        height: 368/627 *100%
        top: -20%
        right: 0

    .text-container
      .text-block
        padding: $tb-text-block-left-padding
        .h4 + p
          margin-bottom: 0
        ul
          padding-left: 20px
          margin-bottom: 1em
      .order-block
          text-align: center

  /* BLOCK 5 - Хиро Индивидуальная программа */
  .thermal-block5
    margin-bottom: 70px
    .text-container
      padding-left: 16%
      padding-right: 16%
      text-align: center
      .text-block
        display: inline-block
        max-width: 100%


  /* BLOCK 6 - Купальни2*/
  .thermal-block6
    margin-bottom: 210px
    .images-container
      .img-front
        margin-top: -10%
        margin-left: 0
        width: 364/384 *100%

    .text-container
      .text-block
        padding: $tb-text-block-left-padding

  /* BLOCK 7 - Хиромассаж*/
  .thermal-block7
    margin-bottom: 70px
    .images-container
      .img-front
        margin-top: 0
        width: 320/384 *100%
      .img-back
        width: 426/384 *100%
        height: 284/440 *100%
        top: -40%
        left: -109/384 *100%

    .text-container
      .text-block
        padding: $tb-text-block-right-padding

  /* BLOCK 8 - Зоку Шин Индивидуальная программа */
  .thermal-block8
    margin-bottom: 65px
    .text-container
      padding-left: 11%
      padding-right: 11%
      text-align: center
      .text-block
        display: inline-block
        max-width: 100%


  /* BLOCK 9 - Купальни3*/
  .thermal-block9
    margin-bottom: 100px
    .images-container
      .img-front
        margin-top: -6%
        margin-right: 0
        width: 364/384 *100%

    .text-container
      .text-block
        padding: $tb-text-block-right-padding

  /* BLOCK 10 - Массаж Зоку Шин*/
  .thermal-block10
    .images-container
      .img-front
        margin-top: 30%
        margin-left: 0
        width: 320/384 *100%
      .img-back
        width: 299/384 *100%
        height: 200/283 *100%
        top: -12%
        right: 0

    .text-container
      .text-block
        padding: $tb-text-block-left-padding

  .pattern-waves-1
    @include pattern-right(789, -336, -80px)
  .pattern-waves-2
    @include pattern-left(543, -250, 250px)
    transform: scale(-1, 1)
  .pattern-waves-3
    @include pattern-right(742, -336, 670px)
    transform: scale(-1, 1)
  .pattern-waves-4
    @include pattern-left(732, -340, 240px)
    transform: scale(-1, -1)
  .pattern-waves-5
    @include pattern-right(632*2, -216*2, 130px)
    z-index: 6
    transform: scale(-1, 1)
  .pattern-waves-6
    @include pattern-left(610*2, -300, 150px)
    transform: scale(-1, 1)
    z-index: 6
  .pattern-waves-7
    @include pattern-right(656*2, 7*2, 100px)
    z-index: 4
  .pattern-waves-8
    @include pattern-right(759*2, -359*2, 105px)
    transform: scale(1, -1)
  .pattern-waves-9
    @include pattern-left(735*2, -35*2, -90px)
    z-index: 4
    transform: scale(-1, 1)
  .pattern-waves-10
    @include pattern-right(688, -322, -80px)
    transform: scale(1, -1)
  .pattern-waves-11
    @include pattern-left(672*2, -192*2, -120px)
    transform: scale(-1, 1)