//DESCRIPTION SECTION
.description-section
  background-color: $white
  padding: 100px 21%
  color: $darkgrey
  font-weight: 500
  position: relative
  p
    text-align: center
    margin: 0
    line-height: 1.3

  .pattern-waves-1
    @include pattern-left(550, -232, -100px)

