//EXCURSION SECTION
.excursion-section
  background-color: $red
  padding-bottom: 190px

  .section-header
    margin-bottom: 320px
    h2
      color: $darkred-3
  .excursion-block1
    margin-bottom: 100px
    .images-container
      float: left
      .img-front
        float: right
        margin-top: -9%
        max-width: 70%

      .img-back
        max-width: 774px
        max-height: 517px
        height: 96.6%
        width: 100%
        top: -34%
        left: -19%
        background-image: url('../../images/photo-excursion-3.jpg')
        background-color: $red
        background-blend-mode: darken
    .text-container
      position: relative
      z-index: 9
      .text-block
        margin-left: 8%
        width: 460/720 *100%
        font-weight: 400
        z-index: 10

  .excursion-block2
    .text-container
      padding: 0 0 0 10%
    .text-container-left
      padding: 0 4% 0 0
      .order-block
        float: right



  .pattern-waves-2
    @include pattern-left(537, 430, -160px)
    z-index: 4

.before-excursion.section-top-img
  background-image: url("../../images/photo-excursion-1.jpg")
  .pattern-waves-1
    @include pattern-right(789, -336, -100px)