
//PRACTICE SECTION
.practice-section
  background-color: $lightyellow
  color: $darkgrey
  padding-bottom: 205px


  .section-header
    margin-bottom: 165px
    h2
      color: $darkbiege
      .h-line-2
        color: $red

    .section-header_text
      margin-top: 27px
      padding-left: 30%
      padding-right: 30%

    .section-header_nav
      li
        flex: 1
        flex-basis: 16%
        margin-bottom: 1.5em
        a
          color: $red
        &:hover
          a
            color: $red-hover
      .item-2
        flex: 2.5
      .item-6
        flex: 4
      .item-9
        flex: 3

    .section-header_nav
      ul
        max-width: 800px




  .text-block
    font-weight: 500
    text-align: center
    >p
      text-align: left
      margin-bottom: 3em
    h3
      color: $biege
      margin-bottom: 40px

  /* BLOCK 1 - Хатха йога */
  .practice-block1
    margin-bottom: 37px

    .images-container
      float: right

      .img-front
        float: left
        margin-top: -2%
        width: 92%

    .text-block
      float: right
      width: 460px
      margin-right: 8%
      >p
        margin-bottom: 2em



  /* BLOCK 2 - цены Хатха йога */
  .practice-block2
    margin-bottom: 155px

    .text-container
      .order-block
        float: left
        margin-left: 15%
    .text-container-left
      .order-block
        float: right
        margin-right: 15%

  /* BLOCK 3 - Пранаяма*/
  .practice-block3
    margin-bottom: 82px
    .images-container
      float: left
      .img-front
        float: right
        margin-top: 2%
        width: 70%

    .text-container
      .text-block
        float: left
        width: 421px
        margin-left: 7%

  /* BLOCK 4 - Нидра*/
  .practice-block4
    margin-bottom: 120px
    .images-container
      float: right
      .img-front
        float: left
        margin-top: 18%
        margin-left: 12%
        width: 60%
      .img-back
        max-width: 633px
        max-height: 422px
        width: 88%
        height: 59%
        top: -12%
        right: -10%
        background-image: url('../../images/photo-practice-5.jpg')
    .text-container
      .text-block
        width: 460px
        margin-right: 6%
        float: right

  /* BLOCK 5 - Йога доверия */
  .practice-block5
    margin-bottom: 200px
    .images-container
      float: left
      .img-front
        float: right
        margin-top: 10%
        width: 94%

    .text-container
      .text-block
        float: left
        width: 420px
        margin-left: 7%

  /* BLOCK 6 - Доша йога */
  .practice-block6
    margin-bottom: 115px
    .images-container
      float: right
      .img-front
        float: left
        margin-top: -7%
        margin-left: 4%
        width: 71%

    .text-container
      .text-block
        width: 460px
        margin-right: 10%
        float: right

  /* BLOCK 7 - Мантра медитация */
  .practice-block7
    margin-bottom: 137px
    .images-container
      float: left
      .img-front
        float: right
        margin-top: 5%
        width: 90%

    .text-container
      .text-block
        float: left
        width: 420px
        margin-left: 7%
        >p
          margin-bottom: 2em
        .text-block_list
          margin-bottom: 3em

  /* BLOCK 8 - Детская йога */
  .practice-block8
    margin-bottom: 80px
    .images-container
      float: right
      .img-front
        float: left
        margin-top: 5%
        margin-left: 0
        width: 87%

    .text-container
      .text-block
        width: 460px
        margin-right: 10%
        float: right

  /* BLOCK 9 - цены Детская йога */
  .practice-block9
    margin-bottom: 132px

    .text-container
      .order-block
        float: left
        margin-left: 15%
    .text-container-left
      .order-block
        float: right
        margin-right: 15%

  /* BLOCK 10 - Цигун */
  .practice-block10
    margin-bottom: 140px
    .images-container
      float: left
      .img-front
        float: right
        margin-top: 0
        width: 95%

    .text-container
      .text-block
        float: left
        width: 420px
        margin-left: 7%
        >p
          margin-bottom: 2em
        .text-block_list
          margin-bottom: 3em


  /* BLOCK 11 - в гамаках */
  .practice-block11
    margin-bottom: 105px
    .images-container
      float: right
      .img-front
        float: left
        margin-top: 8%
        margin-left: 0
        width: 52%
      .img-back
        max-width: 600px
        max-height: 399px
        width: 83%
        height: 63%
        top: -15%
        right: 0
        background-image: url('../../images/photo-practice-12.jpg')
    .text-container
      .text-block
        width: 461px
        margin-right: 5%
        float: right
        >p
          &:first-child
            margin-bottom: 1em

  /* BLOCK 12 - цены в гамаках */
  .practice-block12
    .text-container
      .order-block
        float: left
        margin-left: 15%
    .text-container-left
      .order-block
        float: right
        margin-right: 15%

  .pattern-waves-1
    @include pattern-left(537, -276, 620px)
  .pattern-waves-2
    @include pattern-right(384*2, -71*2, -110px)
    z-index: 6
  .pattern-waves-3
    @include pattern-left(591*2, -60*2, -145px)
  .pattern-waves-4
    @include pattern-right(570*2, -282*2, 255px)
    z-index: 4
  .pattern-waves-5
    @include pattern-left(900*2, -289*2, -155px)
  .pattern-waves-6
    @include pattern-right(651*2, -220*2, -165px)
  .pattern-waves-7
    @include pattern-left(725*2, -223*2, 300px)
    z-index: 6
  .pattern-waves-8
    @include pattern-right(742*2, -219*2, -130px)
  .pattern-waves-9
    @include pattern-left(742*2, -280*2, -130px)
  .pattern-waves-10
    @include pattern-left(470*2, 288*2, 300px)
    z-index: 6
    transform: scale(-1,-1)

.before-practice.section-top-img
  background-image: url("../../images/photo-practice-1.jpg")