
//SECTIONS BASE

.description-section,.excursion-section,.tea-section,.practice-section,.thermal-section
  font-size: 16px
  position: relative

.section-block
  position: relative

.section-top-img
  position: relative
  height: 470px
  background-size: cover
  background-repeat: no-repeat
  background-position-x: 50%
  .layer-words
    //width: 1254/1440 *100%
    width: 90%
    height: 150%
    //min-height: 700px
    position: absolute
    top: -25%
    left: 5%
    vertical-align: middle
    display: flex
    justify-content: space-around
    z-index: 5
    >span
      display: inline-block
      position: relative
      width: 26px
      >span
        font-size: 26px
        font-weight: 700
        opacity: .8
        text-transform: uppercase
        word-wrap: break-word
        display: inline-block
        width: 26px
        line-height: 3
        position: absolute
        text-shadow: -4px 3px 4px rgba(0,0,0,.2)
      &:nth-child(even)
        span
          top: 10%
      &:nth-child(odd)
        span
          top: 15%
      &:nth-child(1)
        span
          top: 30%
      &:last-child
        span
          top: -10%





  .words-white
    //background-image: url('../images/words-white.png')
    color: $white
  .words-red
    color: $darkred
    //background-image: url('../images/words-red.png')

.section-header
  padding-top: 85px
  text-align: center
  h2
    font-size: 120px
    font-weight: 900
    text-transform: uppercase
  .section-header_text
    line-height: 1.8
    font-weight: 400
  .h-line-2
    display: block
    font-family: $font-handwritten
    font-weight: 700
    color: $white
    font-size: 60px
    text-transform: none
    margin-top: -1em
  .section-header_nav
    margin-top: 25px
    ul
      padding: 0
      list-style: none
      margin: 0 auto
      max-width: 1000px
      display: flex
      justify-content: space-around
      flex-wrap: wrap
      li
        -webkit-transition: .3s
        -moz-transition: .3s
        -ms-transition: .3s
        -o-transition: .3s
        transition: .3s
      a
        text-transform: uppercase
        font-size: 16px
        font-weight: 800
        white-space: nowrap

.images-container
  .img-back
    max-width: 90%
    z-index: 3
    background-repeat: no-repeat
    -webkit-background-size: cover
    background-size: cover
    position: absolute
    -webkit-box-shadow: -7px 9px 4px 0px rgba(0,0,0,0.2)
    -moz-box-shadow: -7px 9px 4px 0px rgba(0,0,0,0.2)
    box-shadow: -7px 9px 4px 0px rgba(0,0,0,0.2)
  .img-front
    z-index: 5
    position: relative
    max-width: 100%
    -webkit-box-shadow: -7px 9px 5px 0px rgba(0,0,0,0.1)
    -moz-box-shadow: -7px 9px 5px 0px rgba(0,0,0,0.1)
    box-shadow: -7px 9px 5px 0px rgba(0,0,0,0.1)


.text-container, .images-container
  position: relative
  width: 50%
  float: right
  box-sizing: border-box
  >p
    position: relative

.text-container-left
  float: left

.text-container-center
  float: none
  width: 100%
  .text-block
    margin: 0 auto

.text-block
  font-weight: 500
  line-height: 1.8
  text-align: left
  max-width: 100%
  h3
    font-size: 50px
    line-height: 1.2
    font-weight: 900
    text-transform: uppercase
    text-align: center
    .h-line-2
      display: block
      font-family: $font-handwritten
      font-weight: 700
      color: $red
      font-size: 25px
      line-height: .9
      text-transform: none
      margin-top: -.8em
  >p
    margin-bottom: 2em
    position: relative
    -webkit-transition: .5s
    -moz-transition: .5s
    -ms-transition: .5s
    -o-transition: .5s
    transition: .5s
  >p+div
    text-transform: uppercase
    ul
      text-transform: none
      padding-left: 18px
  .text-block_list
    text-align: left
  h4,.h4
    display: block
    font-size: 18px
    text-transform: uppercase
    font-weight: 800
  .time-block
    position: absolute
    top: -1.8em
    right: 0
    font-size: 18px
    font-weight: 700
    text-transform: uppercase
    text-align: right



.order-block
  display: inline-block
  text-align: center
  text-transform: uppercase
  font-size: 16px
  max-width: 100%
  width: 460px

.order-block_h
  line-height: 1.5
  font-weight: 700

.order-block_cost
  line-height: 1.5
  font-weight: 500

.order-block_btn
  display: inline-block
  font-size: 18px
  font-weight: 500
  padding: 14px 50px 14px
  background-color: $darkred
  border: 2px solid $white
  border-radius: 30px
  line-height: 1.2
  color: $white
  margin-top: 20px
  -webkit-transition: .3s
  -moz-transition: .3s
  -ms-transition: .3s
  -o-transition: .3s
  transition: .3s
  &:hover
    background-color: $red-hover

.order-block_note
  text-transform: none
  font-size: 14px
  font-weight: 400
  line-height: 1.5
  margin-top: 1em

.text-block
  .order-block+p
    font-size: 18px
    text-transform: uppercase
    margin-top: 2em
    font-weight: 800


.hidden-text-part
  max-height: 0
  overflow: hidden
  display: inline-block
  -webkit-transition: 1s
  -moz-transition: 1s
  -ms-transition: 1s
  -o-transition: 1s
  transition: 1s


.opened-text
  max-height: 1000px
  display: inline


.pattern-waves
  position: absolute
  -webkit-background-size: contain
  background-size: contain
  background-repeat: no-repeat
  height: 300px
  //svg
    max-width: 100%

//.pattern-darkred
//  path
//    fill: $darkred
//
//.pattern-lightbiege
//  path
//    fill: $lightbiege
//
//.pattern-biege
//  path
//    fill: #CAC199
//
//.pattern-white
//  path
//    fill: $white

.pattern-darkred
  background-image: url('../images/svg/pattern-darkred.svg')

.pattern-lightbiege
  background-image: url('../images/svg/pattern-lightbiege.svg')

.pattern-biege
  background-image: url('../images/svg/pattern-biege.svg')

.pattern-white
  background-image: url('../images/svg/pattern-white.svg')


.wrapper section .section-block
  .images-container
    .img-back
      top: 100px



