
//TEA SECTION
.tea-section
  background-color: $white
  color: $darkgrey
  padding-bottom: 107px

  .section-header
    margin-bottom: 260px
    h2
      color: $lightbiege
      .h-line-2
        color: $red

    .section-header_text
      margin-top: 40px
      padding-left: 30%
      padding-right: 30%

    .section-header_nav
      ul
        max-width: 700px
        li
          flex: 1
          flex-basis: 25%
          margin-bottom: 1.5em
          &:last-child
            flex-grow: 6
          &:nth-child(5)
            text-align: right
          a
            color: $red
          &:hover
            a
              color: $red-hover

  .text-block
    font-weight: 500
    text-align: center
    >p
      text-align: left
      margin-bottom: 3em
    h3
      color: $darkbiege
      margin-bottom: 40px

  /* BLOCK 1 - Сэнтя до**/
  .tea-block1
    margin-bottom: 200px

    .images-container
      float: right

      .img-front
        float: left
        margin-top: -2%
        max-width: 95%

    .text-block
      float: right
      width: 460px
      margin-right: 8%



  /* BLOCK 2 - Рякубон */
  .tea-block2
    margin-bottom: 260px
    .images-container
      float: left
      padding-right: 2%
      .img-front
        float: right
        margin-top: 18%
        max-width: 69%
      .img-back
        max-width: 761px
        max-height: 509px
        width: 100%
        height: 75%
        top: -15%
        left: -15%
        background-image: url('../../images/photo-tea-4.jpg')

    .text-container
      .text-block
        width: 451px

  /* BLOCK 3 - Хакоби */
  .tea-block3
    margin-bottom: 50px
    .images-container
      float: right
      .img-front
        float: left
        margin-top: 15%
        margin-left: -2%
        width: 52%
      .img-back
        max-width: 570px
        max-height: 389px
        width: 81%
        height: 61%
        top: -20%
        right: 0
        background-image: url('../../images/photo-tea-6.jpg')

    .text-container
      .text-block
        float: right
        width: 437px
        margin-right: 7%

  /* BLOCK 4 - Пинча */

  .tea-block4
    margin-bottom: 80px
    .images-container
      position: relative
    .text-container
      .text-block
        width: 451px
        margin-left: 5%

  /* BLOCK 5 - Гунфу ча */
  .tea-block5
    margin-bottom: 200px
    .images-container
      float: right
      .img-front
        float: left
        width: 104%

    .text-container
      .text-block
        float: right
        width: 451px
        margin-right: 7%
        margin-top: -37%

  /* BLOCK 6 - Лу Юй */
  .tea-block6
    .images-container
      float: left
      .img-front
        float: left
        margin-top: -10%
        width: 98%

    .text-container
      .text-block
        float: left
        width: 451px
        margin-left: 5%


  .pattern-waves-2
    @include pattern-right(573, 290, -170px)
  .pattern-waves-3
    @include pattern-right(625, -233, -300px)
    transform: scale(-1, 1)
  .pattern-waves-4
    @include pattern-left(557*2, 88*2, -10px)
    z-index: 4
  .pattern-waves-5
    @include pattern-right(537*2, 140*2, 50px)
    z-index: 4
  .pattern-waves-6
    @include pattern-left(692*2, -1750, 50px)
    transform: scale(-1, -1)
  .pattern-waves-7
    @include pattern-right(798*2, -335*2, 320px)
    z-index: 5
  .pattern-waves-8
    @include pattern-left(557*2, 189*2, 285px)
    transform: scale(1, -1)

.before-tea.section-top-img
  background-image: url("../../images/photo-tea-1.jpg")
  .pattern-waves-1
    @include pattern-left(789, -265, -170px)