//THERMAL SECTION
.thermal-section
  background-color: $red
  color: $white
  padding-bottom: 245px

  .section-header
    margin-bottom: 115px
    h2
      color: $darkred-3
      .h-line-2
        color: $white

    .section-header_text
      margin-top: 40px
      padding-left: 25%
      padding-right: 25%

    .section-header_nav
      ul
        justify-content: space-between
      li
        flex: 1
        flex-basis: 40%
        margin-bottom: 2em
        a
          color: $white
          white-space: normal
          font-weight: 700

        &:hover
          a
            color: $lightyellow

  .text-block
    font-weight: 400
    text-align: center
    width: 466px
    >p
      margin-bottom: 3em
    h3
      color: $darkred-3
      margin-bottom: 40px
      .h-line-2
        color: $white
    .order-block
      width: 100%

  /* BLOCK 1 - Программа индивидуальная аюрведическая */
  .thermal-block1
    margin-bottom: 218px
    .text-container
      padding-left: 31%
      padding-right: 31%
      .text-block
        max-width: none
        >p
          margin-bottom: 2em


  /* BLOCK 2 - Практики Доша-Йога*/
  .thermal-block2
    margin-bottom: 121px
    .images-container
      float: right
      .img-front
        float: left
        margin-top: -18%
        margin-left: 3%
        width: 91%

    .text-container
      .text-block
        float: right
        margin-right: 4%
        text-align: left

  /* BLOCK 3 - Купальни*/
  .thermal-block3
    margin-bottom: 212px
    .images-container
      float: left
      .img-front
        float: right
        margin-top: -6%
        width: 95%

    .text-container
      .text-block
        float: left
        margin-left: 3%
        text-align: left

  /* BLOCK 4 - Аюрведический уход*/
  .thermal-block4
    margin-bottom: 120px
    .images-container
      float: right
      .img-front
        float: left
        margin-top: 18%
        margin-left: 3%
        width: 69%
      .img-back
        max-width: 512px
        max-height: 581px
        width: 71%
        height: 67%
        top: -40%
        right: 0
        background-image: url('../../images/photo-thermal-5.jpg')
        background-color: $red
        background-blend-mode: darken

    .text-container
      .text-block
        float: right
        text-align: left
        .h4 + p
          margin-bottom: 0
        ul
          padding-left: 20px
          margin-bottom: 3em
      .order-block
          text-align: center

  /* BLOCK 5 - Хиро Индивидуальная программа */
  .thermal-block5
    margin-bottom: 200px
    .text-container
      padding-left: 28%
      padding-right: 28%
      .text-block
        max-width: none
        >p
          margin-bottom: 2em

  /* BLOCK 6 - Купальни2*/
  .thermal-block6
    margin-bottom: 284px
    .images-container
      float: right
      .img-front
        float: left
        margin-top: -18%
        margin-left: 0
        width: 90%

    .text-container
      .text-block
        float: right
        margin-right: 4%
        text-align: left

  /* BLOCK 7 - Хиромассаж*/
  .thermal-block7
    margin-bottom: 140px
    .images-container
      float: left
      .img-front
        float: right
        margin-top: -10%
        width: 65%
      .img-back
        max-width: 567px
        max-height: 378px
        width: 79%
        height: 63%
        top: -50%
        left: 0
        background-image: url('../../images/photo-thermal-8.jpg')
        background-color: $red
        background-blend-mode: darken

    .text-container
      .text-block
        float: left
        margin-left: 3%
        text-align: left

  /* BLOCK 8 - Зоку Шин Индивидуальная программа */
  .thermal-block8
    margin-bottom: 127px
    .text-container
      padding-left: 28%
      padding-right: 28%
      .text-block
        max-width: none
        >p
          margin-bottom: 2em

  /* BLOCK 9 - Купальни3*/
  .thermal-block9
    margin-bottom: 96px
    .images-container
      float: left
      .img-front
        float: right
        margin-top: -6%
        margin-right: 4%
        width: 93%

    .text-container
      .text-block
        float: left
        margin-left: 0
        text-align: left

  /* BLOCK 10 - Массаж Зоку Шин*/
  .thermal-block10
    .images-container
      float: right
      .img-front
        float: left
        margin-top: 10%
        margin-left: 0
        width: 81%
      .img-back
        max-width: 569px
        max-height: 381px
        width: 79%
        height: 83%
        top: -48%
        right: 0
        background-image: url('../../images/photo-thermal-11.jpg')
        background-color: $red
        background-blend-mode: darken

    .text-container
      .text-block
        float: right
        text-align: left
        margin-right: 4%


  .pattern-waves-3
    @include pattern-right(542, -136, 1270px)
    transform: scale(-1, 1)
  .pattern-waves-4
    @include pattern-left(532, -140, 240px)
    transform: scale(-1, -1)
  .pattern-waves-5
    @include pattern-right(532*2, -216*2, 150px)
    z-index: 6
    transform: scale(-1, 1)
  .pattern-waves-6
    @include pattern-left(510*2, -20, 280px)
    transform: scale(-1, 1)
    z-index: 6
  .pattern-waves-7
    @include pattern-right(556*2, 47*2, -70px)
    z-index: 4
  .pattern-waves-8
    @include pattern-right(759*2, -259*2, 105px)
    transform: scale(1, -1)
  .pattern-waves-9
    @include pattern-left(515*2, 135*2, -130px)
    z-index: 4
    transform: scale(-1, 1)
  .pattern-waves-10
    @include pattern-right(488, -122, -40px)
    transform: scale(1, -1)
  .pattern-waves-11
    @include pattern-left(532*2, -162*2, -160px)
    transform: scale(-1, 1)

.before-thermal.section-top-img
  background-image: url("../../images/photo-thermal-1.jpg")
  .pattern-waves-1
    @include pattern-right(789, -336, -130px)
  .pattern-waves-2
    @include pattern-left(443, -96, 400px)
    transform: scale(-1, 1)