// MOBILE EXCURSION SECTION
.excursion-section
  padding-bottom: 64px
  .section-header
    margin-bottom: 107px
  .excursion-block1
    margin-bottom: 28px
    .images-container
      text-align: center
      .img-front
        display: inline-block
        float: none
        margin-top: 0
        max-width: 300/320 *100%
    .text-container
      .text-block
        position: relative
        width: 90%
        padding: 0 10px
        font-weight: 400

      .img-back
        height: 214/240 *100%
        width: 100%
        top: -27%
        left: 0

  .excursion-block2
    .text-container
      padding: 0
      text-align: center
      margin-bottom: 35px
    .text-container-left
      padding: 0
      .order-block
        float: none

  .pattern-waves-1
    @include pattern-right(910, -436, -60px)
    transform: scale(1,-1)
  .pattern-waves-2
    @include pattern-left(1037, 615, -50px)
    z-index: 4
    transform: scale(-1,1)
