
//MOBILE PRACTICE SECTION
.practice-section
  padding-bottom: 114px
  .section-header
    margin-bottom: 43px

    .section-header_text
      margin-top: 20px
      padding-left: 10px
      padding-right: 10px
      font-weight: 500

    .section-header_nav
      li
        flex: 1
        flex-basis: 50%
        margin-bottom: 1em
      .item-2
        flex: 1
        flex-basis: 50%
      .item-5
        align-self: center
      .item-6
        flex: 1
        flex-basis: 50%
      .item-9
        flex: 1
        flex-basis: 50%

  .text-block
    >p
      margin-bottom: 1em
    h3
      color: $biege
      margin-bottom: 16px

  /* BLOCK 1 - Хатха йога */
  .practice-block1
    margin-bottom: 25px
    .images-container
      .img-front
        float: left
        margin-top: 0
        margin-left: 10px
        width: 225/320 *100%


  /* BLOCK 2 - цены Хатха йога */
  .practice-block2
    margin-bottom: 27px
    .text-container
      text-align: center
      .order-block
        margin: 0
        float: none
    .text-container-left
      margin-bottom: 2em

  /* BLOCK 3 - Пранаяма*/
  .practice-block3
    margin-bottom: 108px
    .images-container
      .img-front
        float: left
        margin-top: 0
        width: 150/320 *100%
        margin-left: 10px


  /* BLOCK 4 - Нидра*/
  .practice-block4
    margin-bottom: 87px
    .images-container
      .img-front
        float: left
        margin-left: 10px
        width: 150/320 *100%
        margin-top: 0
      .img-back
        width: 219/320 *100%
        height: 147/205 *100%
        top: -36%
        right: 10px

  /* BLOCK 5 - Йога доверия */
  .practice-block5
    margin-bottom: 46px
    .images-container
      .img-front
        float: right
        margin-top: 0
        margin-right: 10px
        width: 234/320 *100%

  /* BLOCK 6 - Доша йога */
  .practice-block6
    margin-bottom: 35px
    .images-container
      .img-front
        float: left
        margin-top: 0
        margin-left: 10px
        width: 150/320 *100%


  /* BLOCK 7 - Мантра медитация */
  .practice-block7
    margin-bottom: 32px
    .images-container
      .img-front
        float: left
        margin-top: 0
        margin-left: 10px
        width: 234/320 *100%


  /* BLOCK 8 - Детская йога */
  .practice-block8
    margin-bottom: 19px
    .images-container
      .img-front
        float: right
        margin-top: 0
        margin-right: 10px
        width: 225/320 *100%


  /* BLOCK 9 - цены Детская йога */
  .practice-block9
    margin-bottom: 49px
    .text-container
      text-align: center
      .order-block
        float: none
        margin-left: 0
        display: inline-block
    .text-container-left
      .order-block
        float: none
        margin-right: 0
        margin-bottom: 1em

  /* BLOCK 10 - Цигун */
  .practice-block10
    margin-bottom: 80px
    .images-container
      .img-front
        float: left
        margin-top: 0
        margin-left: 10px
        width: 225/320 *100%


  /* BLOCK 11 - в гамаках */
  .practice-block11
    margin-bottom: 18px
    .images-container
      .img-front
        float: left
        margin-top: 0
        margin-left: 10px
        width: 150/320 *100%
      .img-back
        width: 227/320 *100%
        height: 151/206 *100%
        top: -16%
        right: 10px

  /* BLOCK 12 - цены в гамаках */
  .practice-block12
    .text-container
      text-align: center
      .order-block
        float: none
        margin-left: 0
        display: inline-block
    .text-container-left
      .order-block
        float: none
        margin-right: 0
        margin-bottom: 1em

  .pattern-waves-1
    display: none
  .pattern-waves-2
    @include pattern-right(364*3, -71*3, -30px)
    z-index: 6
  .pattern-waves-3
    @include pattern-left(600*2, 0, 45px)
  .pattern-waves-4
    @include pattern-right(570*2, -202*2, 25px)
    transform: scale(-1,1)
    z-index: 4
  .pattern-waves-5
    @include pattern-left(600*2, 29*2, -65px)
  .pattern-waves-6
    @include pattern-right(551*2, 50*2, -35px)
  .pattern-waves-7
    @include pattern-left(625*2, -303*2, 80px)
    z-index: 6
    transform: scale(-1,1)
  .pattern-waves-8
    @include pattern-right(642*2, -360*2, -80px)
    transform: scale(-1,1)
  .pattern-waves-9
    @include pattern-left(572*2, -200*2, -70px)
  .pattern-waves-10
    @include pattern-left(370*2, 250*2, 90px)
    z-index: 6
    transform: scale(-1,-1)