
//MOBILE SECTIONS BASE

.description-section,.excursion-section,.tea-section,.practice-section,.thermal-section
  font-size: 12px
  .section-block
    .images-container
      float: none
      &:after
        content: ""
        clear: both
        display: block
    .text-container
      z-index: 9
      .text-block
        padding-left: 10px
        padding-right: 10px
        margin-left: auto
        margin-right: auto
        margin-top: 0
        max-width: 100%
        -webkit-box-sizing: border-box
        -moz-box-sizing: border-box
        box-sizing: border-box
        float: none
        line-height: 1.3
        font-weight: 500
        z-index: 10

.section-top-img
  height: 180px
  .layer-words
    height: 150%
    min-height: 200px
    top: -25%
    >span
      &:last-child
        >span
          top: -30px
      >span
        font-size: 12px
        width: 12px

.section-header
  padding-top: 30px
  h2
    font-size: 36px
    font-weight: 900
  .section-header_text
    font-size: 14px
  .h-line-2
    font-size: 20px
  .section-header_nav
    margin-top: 20px
    ul
      max-width: 255px
      a
        font-size: 12px


.text-container, .images-container
  width: 100%
  float: none

.section-block
  .images-container
    margin-bottom: 1.5em
    .img-front
      margin-top: 0

.text-container-left
  float: none

.text-block
  line-height: 1.25
  z-index: 7
  h3
    font-size: 30px
    .h-line-2
      font-size: 16px
  >p+div
    ul
      padding-left: 18px

  h4,.h4
    font-size: 16px
  .time-block
    top: -1.3em
    font-size: 16px



.order-block
  font-size: 14px
  max-width: 100%
  width: 275px
  z-index: 7

.order-block_h
  font-weight: 800

.order-block_btn
  font-size: 16px
  padding: 8px 34px 8px
  margin-top: .5em

.order-block_note
  font-size: 12px
  line-height: 1.2
  margin-top: .7em
  font-weight: 500

.text-block
  .order-block+p
    font-size: 16px
