
//MOBILE TEA SECTION
.tea-section
  padding-bottom: 55px
  .section-header
    margin-bottom: 64px

    .section-header_text
      margin-top: 13px
      padding-left: 10%
      padding-right: 10%

    .section-header_nav
      ul
        li
          flex: 1
          flex-basis: 100%
          margin-bottom: .7em
          &:nth-child(5)
            text-align: center



  .text-block
    >p
      text-align: left
      margin-bottom: 1em
    h3
      margin-bottom: 15px

  /* BLOCK 1 - Сэнтя до**/
  .tea-block1
    margin-bottom: 80px
    .images-container
      .img-front
        margin-top: 0
        max-width: 229/320 *100%
        float: right
        margin-right: 10px


  /* BLOCK 2 - Рякубон */
  .tea-block2
    margin-bottom: 80px
    .images-container
      padding-right: 0
      .img-front
        float: right
        max-width: 149/320 *100%
        margin-right: 10px
      .img-back
        width: 225/320 *100%
        height: 151/195 *100%
        top: -15%
        left: 10px


  /* BLOCK 3 - Хакоби */
  .tea-block3
    margin-bottom: 33px
    .images-container
      .img-front
        float: left
        margin-left: 10px
        width: 150/320 *100%
      .img-back
        width: 237/320 *100%
        height: 61%
        top: -20%
        right: 10px

  /* BLOCK 4 - Пинча */
  .tea-block4
    margin-bottom: 13px


  /* BLOCK 5 - Гунфу ча */
  .tea-block5
    margin-bottom: 30px
    .images-container
      .img-front
        float: left
        width: 230/320 *100%
        margin-left: 10px


  /* BLOCK 6 - Лу Юй */
  .tea-block6
    .images-container
      .img-front
        float: left
        width: 229/320 *100%
        margin-top: 0
        margin-left: 10px


  .pattern-waves-1
    @include pattern-left(989, -265, -60px)
  .pattern-waves-2
    @include pattern-right(1073, 600, -60px)
  .pattern-waves-3
    @include pattern-right(825, -233, -300px)
    display: none
  .pattern-waves-4
    @include pattern-left(457*2, 250*2, 20px)
    z-index: 4
  .pattern-waves-5
    @include pattern-right(537*2, 170*2, 20px)
    z-index: 4
  .pattern-waves-6
    display: none
  .pattern-waves-7
    @include pattern-right(698*2, -235*2, 80px)
    z-index: 5
  .pattern-waves-8
    @include pattern-left(557*2, 100*3, 90px)
    transform: scale(1, -1)

