//MOBILE THERMAL SECTION
.thermal-section
  padding-bottom: 40px

  .section-header
    margin-bottom: 38px

    .section-header_text
      margin-top: 17px
      padding-left: 10px
      padding-right: 10px

    .section-header_nav
      ul
        justify-content: space-between
        max-width: 265px
      li
        flex: 1
        flex-basis: 100%
        margin-bottom: 1em
        a
          line-height: 1.5


  .text-block
    >p
      margin-bottom: 2em
    h3
      margin-bottom: 16px
    .order-block
      width: 100%

  /* BLOCK 1 - Программа индивидуальная аюрведическая */
  .thermal-block1
    margin-bottom: 15px
    .text-container
      padding-left: 10px
      padding-right: 10px
      .text-block
        >p
          margin-bottom: 1em


  /* BLOCK 2 - Практики Доша-Йога*/
  .thermal-block2
    margin-bottom: 10px
    .images-container
      .img-front
        float: left
        margin-top: 0
        margin-left: 10px
        width: 229/320 *100%


  /* BLOCK 3 - Купальни*/
  .thermal-block3
    margin-bottom: 90px
    .images-container
      .img-front
        float: right
        margin-top: 0
        width: 228/320 *100%


  /* BLOCK 4 - Аюрведический уход*/
  .thermal-block4
    margin-bottom: 79px
    .images-container
      .img-front
        float: left
        margin-top: 0
        margin-left: 10px
        width: 150/320 *100%
      .img-back
        width: 181/320 *100%
        height: 202/206  *100%
        top: -40%
        right: 10px


  /* BLOCK 5 - Хиро Индивидуальная программа */
  .thermal-block5
    margin-bottom: 10px
    .text-container
      padding-left: 10px
      padding-right: 10px
      .text-block
        max-width: 100%
        >p
          margin-bottom: 1em

  /* BLOCK 6 - Купальни2*/
  .thermal-block6
    margin-bottom: 45px
    .images-container
      .img-front
        float: left
        margin-top: 0
        margin-left: 10px
        width: 225/320 *100%

  /* BLOCK 7 - Хиромассаж*/
  .thermal-block7
    margin-bottom: 59px
    .images-container
      .img-front
        float: right
        margin-top: 0
        margin-right: 10px
        width: 150/320 *100%
      .img-back
        width: 227/320 *100%
        height: 151/206 *100%
        top: -20%
        left: 10px


  /* BLOCK 8 - Зоку Шин Индивидуальная программа */
  .thermal-block8
    margin-bottom: 20px
    .text-container
      padding-left: 10px
      padding-right: 10px
      .text-block
        max-width: 100%
        >p
          margin-bottom: 1em

  /* BLOCK 9 - Купальни3*/
  .thermal-block9
    margin-bottom: 115px
    .images-container
      .img-front
        float: right
        margin-top: 0
        margin-right: 10px
        width: 225/320 *100%


  /* BLOCK 10 - Массаж Зоку Шин*/
  .thermal-block10
    .images-container
      .img-front
        float: left
        margin-top: 0
        margin-left: 10px
        width: 225/320 *100%
      .img-back
        width: 230/320 *100%
        height: 154/150  *100%
        top: -65%
        right: 10px

  .pattern-waves-1
    @include pattern-right(1089, -536, -30px)
  .pattern-waves-2
    @include pattern-left(443*2, -96*4, 140px)
    transform: scale(-1, 1)
  .pattern-waves-3
    display: none
  .pattern-waves-4
    display: none
  .pattern-waves-5
    @include pattern-right(732*2, -216*3, 50px)
    z-index: 1
    transform: scale(-1, 1)
  .pattern-waves-6
    @include pattern-left(410*2, 0, 110px)
    transform: scale(-1, 1)
    z-index: 6
  .pattern-waves-7
    @include pattern-right(556*2, 47*2, -50px)
    z-index: 4
  .pattern-waves-7-1
    @include pattern-left(556*2, -300*2, -80px)
    z-index: 0
    transform: scale(1, -1)
  .pattern-waves-8
    @include pattern-right(759*2, -359*2, 35px)
    transform: scale(1, -1)
  .pattern-waves-9
    @include pattern-left(515*2, 135*2, 20px)
    z-index: 4
    transform: scale(-1, 1)
  .pattern-waves-10
    @include pattern-right(888, -422, -80px)
    transform: scale(1, -1)
  .pattern-waves-11
    @include pattern-left(732*2, -162*2, -40px)
    transform: scale(-1, 1)
