//BASE TABLET STYLES
body
  font-size: 14px
/*  .hidden-tb //hidden on tablet
    display: none
  .hidden-pc //hidden on big-monitor
    display: block
  .hidden-mb //hidden on tablet size
    display: block
  .hidden-tb //hidden on tablet size
    display: none
  .visible-ib-pc //visible only on big monitor (inline-block)
    display: none
  .visible-pc //visible only on big monitor
    display: none
  .visible-ib-mb //visible only on mobiles size (inline-block)
    display: none
  .visible-mb //visible only on mobiles size
    display: none
  .visible-ib-tb //visible only on tablet size (inline-block)
    display: inline-block
  .visible-tb //visible only on tablet size
    display: block
  .hidden
    display: none
    */

@media (min-width: 560px) and (max-width: 939px)
  .hidden-tb
    display: none
  .visible-pc
    display: none
  .visible-mb
    display: none
  .visible-560-750
    display: none
  .hidden
    display: none
  .hidden-text-part.text-hidden-mb
    max-height: 1000px
    height: auto
    display: inline

