//MEDIA TABLET FOOTER
.footer
  .footer-wrapper
    grid-template-columns: 1fr 1fr
    grid-template-rows: repeat(4, 1fr)
    grid-gap: 10px 20px
    .footer_item-1
      font-size: 14px
      font-weight: 600
      align-self: start
    .footer_item-3
      text-align: left
      font-size: 18px
    .footer_item-4
      text-align: left
      grid-column-start: 1
      grid-row-start: 3
      a
        font-size: 24px
    .address-info
      font-size: 14px
      align-self: start
      justify-self: left
      >a
        margin-left: 1em
    .footer_item-6
      justify-self: left
      a
        font-size: 24px
    .socials
      justify-self: left
      grid-column-start: 2
      grid-row-start: 3
    .footer_item-8
      grid-column-start: 1
      grid-row-start: 4
    .bottom-red-logo
      grid-column-start: 2
      grid-row-start: 4
      justify-self: left





