
//MEDIA TABLET HEADER
.header
  height: 68vh
  min-height: 500px

.header_inner-box_text-block
  .logo-white
    height: 100px
    width: 130px
  h1
    font-size: 30px
    span
      font-size: 20px

  .header_nav
    margin-top: 1em
    margin-bottom: 2em
    a
      font-size: 18px

.header_inner-box_walk, .header_inner-box_video
  a
    font-size: 14px
    div
      height: 60px
      width: 60px
      margin-bottom: 1em

.header-bottom-block
  a
    font-size: 12px

.header_inner-box_walk
  display: none