//MEDIA TABLET MENU
.menu
  width: 100%

.menu
  .grid-wrap
    //background-color: blue
    display: grid
    grid-auto-flow: row
    grid-template-columns: 1fr  1fr
    grid-template-rows: 1fr 1fr
    grid-gap: 1.5em
    >div
      //background-color: mediumpurple
      &:last-child
        justify-self: stretch
        grid-column-start: 1
        grid-column-end: 3
        grid-row-start: 2
        grid-row-end: 3
        ul
          display: grid
          grid-auto-flow: column
          grid-template-columns: 1fr 1fr
          grid-template-rows: repeat(5, 1fr)
          grid-gap: 0 1.5em
    .nav-item
      .nav-item_cost
        display: none
      .order-btn
        display: none