
@-webkit-keyframes mouseWheel
  0%
    -webkit-transform: translateY(0)
    transform: translateY(0)
    opacity: 1

  100%
    -webkit-transform: translateY(100%)
    transform: translateY(100%)
    opacity: 0



@keyframes mouseWheel
  0%
    -webkit-transform: translateY(0)
    transform: translateY(0)
    opacity: 1

  100%
    -webkit-transform: translateY(100%)
    transform: translateY(100%)
    opacity: 0

@keyframes animatetop
  from
    top: -1000px
    opacity: 0
  to
    top: 0
    opacity: 1
