/* SLIDER */
.map-slider
  height: 100vh
  overflow: hidden
  margin-top: -100vh
  position: relative
  -webkit-transition: margin-top 1s
  -moz-transition: margin-top 1s
  -ms-transition: margin-top 1s
  -o-transition: margin-top 1s
  transition: margin-top 1s
  .sick-slide
    height: 100%
    overflow: hidden
  .sl
    .slick-slide
      height: 100vh
      overflow: hidden

.sl__slider, .sl__slider2
  position: relative

.sl__slider
  >div
    height: 100vh
    width: 100vw
    -webkit-background-size: cover
    background-size: cover
    background-repeat: no-repeat

.slick-vertical
  .slick-slide
    border: 0px solid transparent

//.slide-1
  >div
    background-image: url('../images/slider-img/map.png')

.slide-2>div
  background-image: url('../images/slider-img/severni-vhod-v-jgarden.jpg')

.slide-3>div
  background-image: url('../images/slider-img/chaini-domik.jpg') //alleya-sakur

.slide-4>div
  background-image: url('../images/slider-img/chaini-domik.jpg')

.slide-5>div
  background-image: url('../images/slider-img/vistavka-bonsaev.jpg')

.slide-6>div
  background-image: url('../images/slider-img/vodopad.jpg') //most-maru

.slide-7>div
  background-image: url('../images/slider-img/vodopad.jpg')

.slide-8>div
  background-image: url('../images/slider-img/japonskaya-kupelna.jpg') //vhod-v-garden

.slide-9>div
  background-image: url('../images/slider-img/japonskaya-kupelna.jpg')

.slide-10>div
  background-image: url('../images/slider-img/dolina-rodondendrov.jpg')

.slide-11>div
  background-image: url('../images/slider-img/pavilion-i-kupalni.jpg')

.slide-12>div
  background-image: url('../images/slider-img/hram-dzenzho.jpg')

.slide-13>div
  background-image: url('../images/slider-img/hram-dzenzho.jpg') //tropinka

.slide-14>div
  background-image: url('../images/slider-img/hram-dzenzho.jpg') //cherepashi

.slide-15>div
  background-image: url('../images/slider-img/severni-vhod-v-jgarden.jpg') //vostochni-vhod

.slide-16>div
  background-image: url('../images/slider-img/vesenni-vodopad.jpg')

.slide-17>div
  background-image: url('../images/slider-img/vesenni-vodopad.jpg')  //eskalator

.slide-18>div
  background-image: url('../images/slider-img/suhoi-peizazh.jpg')

.slide-19>div
  background-image: url('../images/slider-img/zerkalni-prud.jpg')

.slide-20>div
  background-image: url('../images/slider-img/altar-kurimia.jpg')

.slide-21>div
  background-image: url('../images/slider-img/suhoi-peizazh.jpg')

.slide-22>div
  background-image: url('../images/slider-img/uzhnie-vorota.jpg')



.sl
  height: 100%
  width: 100%
  .slick-list
    height: 100%
    width: 100%
  .slick-dots
    top: 0

.sl2
  max-width: 30px
  display: none
  position: absolute
  top: 2%
  right: 5%
  .slick-dots
    display: flex
    flex-flow: column nowrap
    align-items: flex-start
    position: absolute
    top: 100px
    max-width: 30px
    width: 30px
    z-index: 60
    li
      margin-bottom: 3px
      margin-top: 3px
      width: 30px


.slick-dots li
  position: relative
  button
    height: 30px
    width: 30px
    margin: 0 auto
    padding: 0
    position: relative
    -webkit-background-size: contain
    background-size: contain
    background-repeat: no-repeat
    -webkit-transition: .3s
    -moz-transition: .3s
    -ms-transition: .3s
    -o-transition: .3s
    transition: .3s
  &:hover
    button
      width: 40px
      height: 40px



.slick-dots
  li,li.slick-active
    button
      &:before
        content: 'Аллея аллея'
        font-family: $font-main
        position: absolute
        display: block
        opacity: 0
        width: 165px
        color: #ffffff
        font-size: 16px
        font-weight: 700
        text-shadow: 0px 4px 10px rgba(0, 0, 0, .5)
        -webkit-transition: .3s
        -moz-transition: .3s
        -ms-transition: .3s
        -o-transition: .3s
        transition: .3s

.sl
  .slick-dots
    li
      width: 40px
      z-index: 60
      button
        background-color: $white
        border: 4px solid $white
        -webkit-border-radius: 50%
        -moz-border-radius: 50%
        border-radius: 50%
        &:before
          top: -50px
          left: -65px
          text-shadow: -3px 0px 1px #000
        &:hover
          &:before
            top: -60px
            left: -60px
            opacity: 1


.slick-next
  position: absolute
  top: 40%
  left: 72%
  z-index: 2
  color: #b11d38
  color: $white
  font-size: 34px
  font-weight: 900
  letter-spacing: .2em
  text-align: center
  background: transparent
  border: none
  cursor: pointer
  -webkit-transition: top .3s
  -moz-transition: top .3s
  -ms-transition: top .3s
  -o-transition: top .3s
  transition: top .3s
  span
    text-shadow: 4px 4px 4px #000
  &:hover
    top: 39%

.slick-prev
  display: none

.slick-dots li:nth-child(1) button
  background-image: url('../images/map-icons/video.svg')
  &:before
    content: 'Карта'

.slick-dots li:nth-child(2) button
  background-image: url('../images/map-icons/severniy-vhod-v-jgarden.svg')
  &:before
    content: 'Северный вход'

.slick-dots li:nth-child(3) button
  background-image: url('../images/map-icons/alleya-sakur.svg')
  &:before
    content: 'Аллея сакур'

.slick-dots li:nth-child(4) button
  background-image: url('../images/map-icons/chainiy-domik.svg')
  &:before
    content: 'Чайный домик'

.slick-dots li:nth-child(5) button
  background-image: url('../images/map-icons/vistavka-bonsaev.svg')
  &:before
    content: 'Выставка бонсаев'

.slick-dots li:nth-child(6) button
  background-image: url('../images/map-icons/most-maru-hashi.svg')
  &:before
    content: 'Мост Мару Хаши'

.slick-dots li:nth-child(7) button
  background-image: url('../images/map-icons/vodopad.svg')
  &:before
    content: 'Водопад'

.slick-dots li:nth-child(8) button
  background-image: url('../images/map-icons/vhod-v-jgarden.svg')
  &:before
    content: 'Вход в Японский сад'

.slick-dots li:nth-child(9) button
  background-image: url('../images/map-icons/japonskaya-kupalna.svg')
  &:before
    content: 'Японская купальня'

.slick-dots li:nth-child(10) button
  background-image: url('../images/map-icons/dolina-rododendronov.svg')
  &:before
    content: 'Долина рододендронов'

.slick-dots li:nth-child(11) button
  background-image: url('../images/map-icons/pavilion-i-kupalni.svg')
  &:before
    content: 'Павильон Рютен и три купальни'

.slick-dots li:nth-child(12) button
  background-image: url('../images/map-icons/hram-dzen-do.svg')
  &:before
    content: 'Храм Дзэн-До'

.slick-dots li:nth-child(13) button
  background-image: url('../images/map-icons/tropinka-s-16-kamnami.svg')
  &:before
    content: 'Тропинка с 16 камнями'

.slick-dots li:nth-child(14) button
  background-image: url('../images/map-icons/cherepashi-prud.svg')
  &:before
    content: 'Черепаший пруд'

.slick-dots li:nth-child(15) button
  background-image: url('../images/map-icons/vostochniy-vhod-v-jgarden.svg')
  &:before
    content: 'Восточные ворота'

.slick-dots li:nth-child(16) button
  background-image: url('../images/map-icons/vesenniy-vodopad.svg')
  &:before
    content: 'Весенний водопад'

.slick-dots li:nth-child(17) button
  background-image: url('../images/map-icons/eskalator.svg')
  &:before
    content: 'Эскалатор'

.slick-dots li:nth-child(18) button
  background-image: url('../images/map-icons/suhoi-peizazh-2.svg')
  &:before
    content: 'Сухой пейзаж'

.slick-dots li:nth-child(19) button
  background-image: url('../images/map-icons/zerkanliy-prud.svg')
  &:before
    content: 'Зеркальный пруд'

.slick-dots li:nth-child(20) button
  background-image: url('../images/map-icons/altar-kurimiya.svg')
  &:before
    content: 'Алтарь Куримия'

.slick-dots li:nth-child(21) button
  background-image: url('../images/map-icons/suhoi-peizazh.svg')
  &:before
    content: 'Сухой пейзаж "Вечный сад"'

.slick-dots li:nth-child(22) button
  background-image: url('../images/map-icons/uzhni-vhod-v-jgarden.svg')
  &:before
    content: 'Южные ворота'

.sl2
  .slick-dots
    li
      width: 20px
      text-align: center
      button
        display: inline-block
        width: 15px
        height: 15px
        background-image: none
        background-color: $white
        border: 2px solid $darkred
        -webkit-border-radius: 50%
        -moz-border-radius: 50%
        border-radius: 50%
        &:before
          left: -170px
          text-align: right
        &:hover
          &:before
            left: -180px
            opacity: 1
      &:hover
        button
          width: 20px
          height: 20px

.first-slick
  li
    opacity: 0
    position: absolute
    -webkit-transition: .3s
    -moz-transition: .3s
    -ms-transition: .3s
    -o-transition: .3s
    transition: .3s
    &:nth-child(1)
      display: none
    &:nth-child(2)
      top: 24%
      left: 27%
    &:nth-child(3)
      top: 36%
      left: 29%
    &:nth-child(4)
      top: 27%
      left: 33%
    &:nth-child(5)
      top: 23%
      left: 38%
    &:nth-child(6)
      top: 33%
      left: 42%
    &:nth-child(7)
      top: 17%
      left: 43%
    &:nth-child(8)
      top: 33%
      left: 49%
    &:nth-child(9)
      top: 56%
      left: 37%
    &:nth-child(10)
      top: 61%
      left: 41%
    &:nth-child(11)
      top: 70%
      left: 51%
    &:nth-child(12)
      top: 59%
      left: 62%
    &:nth-child(13)
      top: 66%
      left: 63%
    &:nth-child(14)
      top: 54%
      left: 70%
    &:nth-child(15)
      top: 22%
      left: 78%
    &:nth-child(16)
      top: 69%
      left: 77%
    &:nth-child(17)
      top: 82%
      left: 77%
    &:nth-child(18)
      top: 85%
      left: 63%
    &:nth-child(19)
      top: 86%
      left: 55%
    &:nth-child(20)
      top: 86%
      left: 47%
    &:nth-child(21)
      top: 78%
      left: 29%
    &:nth-child(22)
      top: 91%
      left: 40%

.map-img
  display: flex
  justify-content: center
  flex-wrap: nowrap
  img
    height: 100vh

.sl
  .slide-1
    text-align: center

.map-h
  font-size: 60px
  font-weight: 900
  color: #ffffff
  text-align: center
  line-height: 1.2
  position: absolute
  left: 20%
  top: 20%
  opacity: 0
  -webkit-transition: .3s
  -moz-transition: .3s
  -ms-transition: .3s
  -o-transition: .3s
  transition: .3s
  .h-line-2
    display: block
    font-family: $font-handwritten
    font-size: 40px
    font-weight: 700
    color: #b11d38
    line-height: .9
    margin-top: -.8em
    text-transform: none

.map-h.animated
  opacity: 1

.first-slick li.animated
  opacity: 1


.map-slider.active-map-slider
  margin-top: 0