@mixin pattern-left($width, $left, $top)
  width: $width/1440 *100%
  left: $left/1440 *100%
  top: $top + 100px

@mixin pattern-right($width, $right, $top)
  width: $width/1440 *100%
  right: $right/1440 *100%
  top: $top + 100px

@mixin scrollbars($size, $foreground-color, $background-color, $foreground-color-hover: mix($foreground-color, black,  80%))
  // For Google Chrome
  ::-webkit-scrollbar
    width:  $size
    height: $size

  ::-webkit-scrollbar-thumb
    -webkit-border-radius: 0px
    border-radius: $size
    background: $foreground-color

  ::-webkit-scrollbar-thumb:hover
    background: $foreground-color-hover
    width: 30px
    height: 30px

  ::-webkit-scrollbar-track
    background: $background-color


  // For Internet Explorer
  body
    scrollbar-face-color: $foreground-color
    scrollbar-track-color: $background-color



