//MOBILE BASE STYLES

body
  font-size: 12px


@media (max-width: 559px)
  .hidden-mb
    display: none!important
  .visible-pc
    display: none
  .visible-tb
    display: none
  .visible-560-750
    display: none
  .hidden
    display: none