//MOBILE FOOTER
.footer
  padding: 20px 10px
  .footer-wrapper
    font-size: 14px
    line-height: 1.35
    grid-template-columns: 1fr
    grid-template-rows: 1fr 1fr
    .footer_item-1,.footer_item-3,.footer_item-4,.footer_item-5,.footer_item-6,.footer_item-7
      grid-column-start: 1
      grid-column-end: 3
    .footer_item-1
      font-size: 14px
      grid-row-start: 1
    .footer_item-3
      font-size: 16px
      text-align: center
      font-weight: 600
      grid-row-start: 2
    .footer_item-4
      text-align: center
      grid-row-start: 3
      align-self: start
      a
        font-size: 18px
    .address-info
      font-size: 14px
      grid-row-start: 4
      justify-content: space-around
      display: flex
      >a
        margin-left: 2em
    .footer_item-6
      text-align: center
      grid-row-start: 5
      a
        font-size: 20px
    .socials
      justify-self: center
      grid-row-start: 6
      .social-logo
        width: 40px
        height: 40px
        -webkit-background-size: 20px 20px
        background-size: 20px 20px
    .footer_item-8
      grid-column-start: 1
      grid-row-start: 7
    .footer_item-9
      grid-column-start: 2
      grid-row-start: 7


