
//MOBILE HEADER
.header
  height: 80vh
  min-height: 460px


.header_inner-box
  margin-top: 10%

.header_inner-box_text-block
  .logo-white
    height: 100px
    width: 130px
  h1
    font-size: 20px
    line-height: 1.2
    span
      font-size: 14px
      line-height: 1.9

.header_inner-box_video, .header_inner-box_walk
  a
    font-size: 12px
    div
      display: block
      height: 36px
      width: 36px

.header_inner-box_video
  width: 100%
  text-align: center
  padding-top: 9vh

.header_inner-box_walk
  display: none

.header-bottom_video
  margin-right: 0em

.header-bottom-block
  a
    font-size: 10px
  .header-bottom_mouse
    display: none

  .header-bottom_walk
    display: none

