//MOBILE MENU
.menu
  height: 100vh
  width: 100%
  overflow-y: scroll

.menu-wrapper
  width: 100%
  height: 100%
  padding: 20px 10px
  display: block


.menu
  .grid-wrap
    //background-color: blue
    display: flex
    flex-direction: column
    >div
      margin-bottom: .8em

    .nav-h
      font-size: 16px

    .nav-item
      margin-bottom: 1em
      a
        color: $white
        font-size: 14px
        font-weight: 500
      .order-btn
        display: none
  .menu-block-1
    order: 1
  .menu-block-2
    order: 3
  .menu-block-3
    order: 2

  .grid-wrap-bottom
    display: block
    >div
      display: flex
      &:first-child
        align-items: center
        margin-top: 1.5em
        margin-bottom: 1.5em
      &:last-child
        justify-content: space-between
        width: 70%
        margin-bottom: 1.5em
      a
        font-size: 24px
    .socials
      .social-logo
        width: 40px
        height: 40px
        margin-right: 1%
        -webkit-background-size: 20px 20px
        background-size: 20px 20px
    .nav-item
      .nav-item_cost
        display: none
      .order-btn
        display: none



.close-trigger
  width: 30px
  height: 30px
  position: absolute
  top: 15px
  right: 15px
  span
    height: 1px
    width: 15px
    margin-left: -6px
  .bar-left
    margin-top: -5px
  .bar-right
    margin-top: 3px

