//MOBILE POPUP

.popup-wrapper
  width: 90%
  height: 60vh
  min-height: 310px
  text-align: center
  padding: 15% 1% 3%
  box-sizing: border-box
  margin-left: 10px
  margin-right: 10px


.close-popup-trigger
  width: 30px
  height: 30px
  top: 10px
  right: 9px

  span
    width: 18px
    margin-left: -7px
  .bar-left
    margin-top: -6px
  .bar-right
    margin-top: 4px


.popup
  .popup-h1
    font-size: 16px
    margin-bottom: 7px
  .popup-h2
    font-size: 12px
    margin-bottom: 1.5em
    font-weight: 400
  form
    input[type="text"]
      width: 75%
      padding: 6px 16px
      margin-bottom: 15px
      font-size: 14px
      line-height: 2
      -webkit-border-radius: 30px
      -moz-border-radius: 30px
      border-radius: 30px
      border: 1px solid #eee


  .submit-btn
    font-size: 16px
    padding: 8px 23px
    line-height: 1
    margin-top: 18px

  .form-message
    font-size: 14px

  .input-error
    border: 2px solid #555