
//MOBILE TOPBAR
.topbar
  height: 50px
  padding: 7px 10px 0
  position: fixed

.topbar-wrapper
  .logo
    padding-top: 0
    a
      img
        max-height: 40px

  .btn-callback
    font-size: 12px
    padding: 5px 8px 5px
    margin-right: 15px
    margin-top: 8px

.menu-trigger
  width: 40px
  height: 40px
  margin-top: 0
  span
    height: 2px
    width: 13px
    margin-top: -1px
    margin-right: -9px
  .bar-top
    width: 18px
    transform: translateY(-6px)
  .bar-bot
    width: 18px
    transform: translateY(6px)
.menu-trigger:hover
  .bar-mid
      width: 18px


