//BASE STYLES
*
  margin: 0

body
  font-family: $font-main
  font-size: 14px
  color: $white

a
  text-decoration: none

.wrapper
  overflow: hidden

.cb
  &:after
    content: ""
    clear: both
    display: block


.clip-svg
  height: 0
  width: 0

@include scrollbars(.4em, #9f1731, #f4edca)

@media (min-width: 940px)
  .hidden-pc //hidden on big monitor
    display: none
  .visible-tb //visible only on tablet size
    display: none
  .visible-mb //visible only on mobiles size
    display: none
  .visible-560-750
    display: none
  .hidden
    display: none
  .hidden-text-part.text-hidden-tb-mb
      max-height: 1000px
      height: auto
      display: inline
  .hidden-text-part.text-hidden-mb
      max-height: 1000px
      height: auto
      display: inline


