//FOOTER
.footer
  background-color: $white
  padding: 30px 5%
  .footer-wrapper
    color: $darkgrey
    font-size: 14px
    line-height: 1.35
    display: grid
    grid-auto-flow: column
    grid-template-columns: 1fr 1fr 1fr
    grid-template-rows: 1fr 1fr 1.4fr
    grid-gap: 20px 10px
    align-items: center
    >div
      text-align: left
      >a
        display: inline-block
        color: $darkgrey
        font-size: 16px
        text-transform: uppercase
        font-weight: 800
        margin-bottom: 3px
    .address-info
      color: $red
      font-size: 14px
      font-weight: 600
      display: flex
      justify-content: space-around
      align-items: center
      >div
        display: inline-block
      .mriya-logo
        display: inline-block
        height: 54px
        width: 92px
        margin-top: -1.5em
        background-image: url('../images/svg/logo-mriya.svg')

    .address-info+a
      font-size: 24px
      font-weight: 800
      color: $darkgrey
    .footer_item-1
      color: $darkred
      font-size: 16px
      font-weight: 500
    .footer_item-2
      color: $darkred
      font-size: 36px
      text-align: center
      font-weight: 800
      @media (min-width: 940px) and (max-width: 1090px)
        font-size: 30px
    .footer_item-3
      font-size: 16px
      font-weight: 800
      text-align: center
    .footer_item-4,.footer_item-6
      text-align: center
      a
        font-size: 36px
        font-weight: 800
        @media (min-width: 940px) and (max-width: 1098px)
          font-size: 30px
    .socials
      //padding-top: 1em
      display: flex
      justify-content: center
      grid-row-start: 3
      grid-column-start: 2
      align-self: end
      .social-logo
        display: inline-block
        width: 55px
        height: 55px
        margin-right: 1.5em
        -webkit-border-radius: 50%
        -moz-border-radius: 50%
        border-radius: 50%
        background-color: $red
        background-repeat: no-repeat
        background-position: 50%
      .social-vk
        background-image: url('../images/svg/social-logo-vk.svg')
      .social-fb
        background-image: url('../images/svg/social-logo-fb.svg')
      .social-inst
        background-image: url('../images/svg/social-logo-inst.svg')
      .social-ytb
        background-image: url('../images/svg/social-logo-ytb.svg')
        margin-right: 0
    .footer_item-8
      font-size: 12px
      grid-column-start: 1
      grid-row-start: 3
      align-self: end
    .bottom-red-logo
      align-self: end
      justify-self: center
      width: 128px
      height: 40px
      background-image: url('../images/svg/logo-red.svg')
      background-repeat: no-repeat



/*.grid-wrap-bottom
  display: grid
  grid-template-columns: 2fr 1fr
  grid-gap: 1%
  color: $darkgrey
  font-size: 12px
  font-weight: 500
  div
    &:first-child
      display: flex
      align-items: center
  .bottom-red-logo
    width: 128px
    height: 40px
    background-image: url('../images/svg/logo-red.svg')
    background-repeat: no-repeat
    margin-left: 7%*/


