
//HEADER
.header
  height: 100vh
  background-image: url($bg1)
  -webkit-background-size: cover
  background-size: cover
  background-position: center
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  position: relative
  .layer-words
    width: 96%
    height: 70vh
    min-height: 700px
    max-height: 80vh
    position: absolute
    top: 0
    left: 2%
    -webkit-background-size: contain
    background-size: contain
    background-repeat: no-repeat
    background-image: url('../images/words-1.png')
    -ms-background-position-x: center
    background-position-x: center

.fullscreen-video-container
  position: absolute
  top:  0
  left: 0
  width:  100%
  height: 100%
  overflow: hidden
  .video
    min-height: 100%
    min-width: 100%


.header_inner-box
  //margin-top: 19%
  width: 845/1440*100%
  margin-top: 0
  z-index: 5

.header_inner-box_text-block
  width: 100%
  text-align: center
  .logo-white
    margin: 0 auto
    height: 199px
    width: 238px
    background-image: url("../images/svg/logo-red-header.svg")
    background-repeat: no-repeat
    background-size: cover
  h1
    font-size: 30px
    text-transform: uppercase
    font-weight: 800
    line-height: 1
    span
      text-transform: none
      font-size: 20px
      font-weight: 700
      line-height: 1.6
  .header_nav
    display: flex
    flex-direction: row
    justify-content: space-between
    padding-left: 0
    list-style: none
    margin-top: 2em
    margin-bottom: 3em
    font-size: 30px
    a
      display: inline-block
      width: 100%
      font-weight: 700
      color: $white
      text-transform: uppercase
      font-size: 30px
      -webkit-transition: .3s
      -moz-transition: .3s
      -ms-transition: .3s
      -o-transition: .3s
      transition: .3s
      &:hover
        color: $lightyellow

.header_inner-box_video, .header_inner-box_walk
  width: 49.5%
  display: inline-block
  cursor: pointer
  a
    display: inline-block
    font-size: 16px
    font-weight: 700
    text-transform: uppercase
    position: relative
    div
      display: block
      height: 80px
      width: 80px
      background-image: url("../../images/svg/btn-video.svg")
      background-repeat: no-repeat
      background-size: contain
      margin: 0 auto 1.5em


.header_inner-box_video
  a
    margin-left: 20px

.header_inner-box_walk
  text-align: right
  a div
    background-image: url("../../images/svg/btn-walk.svg")

.header-bottom-block
  position: absolute
  bottom: 0
  margin: 0 auto
  z-index: 50
  display: flex
  flex-direction: row
  justify-content: space-around
  width: 75%
  margin-bottom: 1.5em
  .header-bottom_mouse
    text-transform: uppercase
    letter-spacing: .2em
  >div
    display: inline-block
    .scroll-link_icon
      display: block
      position: relative
      width: 20px
      height: 38px
      border: 1px solid $white
      margin-left: auto
      margin-right: auto
      -webkit-border-radius: 20px
      -moz-border-radius: 20px
      border-radius: 20px
      &:after
        content: ''
        position: absolute
        left: 50%
        width: 4px
        height: 30%
        top: 20%
        margin-left: -2px
        background-color: $white
        -webkit-border-radius: 3px
        -moz-border-radius: 3px
        border-radius: 3px
        animation: mouseWheel 1.3s infinite
        -webkit-box-sizing: border-box
        -moz-box-sizing: border-box
        box-sizing: border-box
.header-bottom-block
  text-align: center
  a
    display: inline-block
    font-size: 14px
    font-weight: 500
    text-transform: uppercase
    position: relative
    color: $white
    >div
      display: block
      height: 40px
      width: 40px
      background-repeat: no-repeat
      background-size: contain
      margin: 0 auto 1em

.header-bottom_video
  margin-right: 3em
  cursor: pointer
  >a
    >div
      background-image: url("../images/svg/btn-video.svg")
.header-bottom_walk
  cursor: pointer
  >a
    >div
      background-image: url("../images/svg/btn-walk.svg")



