//MENU
.menu
  position: fixed
  top: 0
  right: 0
  height: 100vh
  width: 75%
  background-color: $red
  color: $white
  -webkit-box-shadow: -13px 0px 60px -17px rgba(0,0,0,0.6)
  -moz-box-shadow: -13px 0px 60px -17px rgba(0,0,0,0.6)
  box-shadow: -13px 0px 60px -17px rgba(0,0,0,0.6)
  z-index: 100

  -webkit-transition: .5s
  -moz-transition: .5s
  -ms-transition: .5s
  -o-transition: .5s
  transition: .5s

  -webkit-transform: translateX(100%)
  -moz-transform: translateX(100%)
  -ms-transform: translateX(100%)
  -o-transform: translateX(100%)
  transform: translateX(100%)

.menu-wrapper
  width: 100%
  height: 100%
  padding: 7% 5% 4%
  display: flex
  flex-direction: column
  justify-content: space-between
  box-sizing: border-box

.menu
  .grid-wrap
    //background-color: blue
    display: grid
    grid-auto-flow: column
    grid-template-columns: 1fr  1fr
    grid-template-rows: 50% 50%
    grid-gap: 1.5em
    >div
      //background-color: mediumpurple
      &:last-child
        align-self: stretch
        grid-row-start: 1
        grid-row-end: 3

    .nav-h
      display: block
      font-size: 20px
      font-weight: 800
      margin-bottom: 1em
      color: $white
      text-transform: uppercase

      -webkit-transition: .2s
      -moz-transition: .2s
      -ms-transition: .2s
      -o-transition: .2s
      transition: .2s
      &:hover
        color: $lightyellow

    ul
      padding: 0
      list-style: none
    .nav-item
      a
        &:first-child
          color: $white
          font-size: 18px
          font-weight: 400
          -webkit-transition: .2s
          -moz-transition: .2s
          -ms-transition: .2s
          -o-transition: .2s
          transition: .2s
          &:hover
            color: $lightyellow

      .order-btn
        opacity: 0
        margin-left: .7em
        display: inline-block
        font-size: 14px
        font-weight: 600
        padding: 7px 20px
        background-color: $darkred
        border: 2px solid $white
        border-radius: 30px
        line-height: 1.2
        color: $white
        text-transform: uppercase
        -webkit-transition: .4s
        -moz-transition: .4s
        -ms-transition: .4s
        -o-transition: .4s
        transition: .4s
        &:hover
          background-color: $red-hover

      .nav-item_cost
        display: inline-block
        opacity: 0
        margin-left: 2em
        text-transform: uppercase
        font-weight: 500
        font-size: 18px
        -webkit-transition: .4s
        -moz-transition: .4s
        -ms-transition: .4s
        -o-transition: .4s
        transition: .4s
        @media (max-width: 1180px)
          display: none

      &:hover
        .nav-item_cost
          opacity: 1
        .order-btn
          opacity: 1
    a[href="#practice-block-6"]+.nav-item_cost
      margin-left: 1%

  .grid-wrap-bottom
    display: grid
    grid-template-columns: 50% 50%
    grid-gap: 1%
    >div
      display: flex
      &:first-child
        align-items: center
      &:last-child
        justify-content: center
      a
        color: $white
        font-size: 26px
        font-weight: 800
    .socials
      .social-logo
        display: inline-block
        width: 55px
        height: 55px
        margin-right: 27px
        -webkit-border-radius: 50%
        -moz-border-radius: 50%
        border-radius: 50%
        background-color: $white
        background-repeat: no-repeat
        background-position: 50%
      .social-vk
        background-image: url('../images/svg/social-logo-red-vk.svg')
      .social-fb
        background-image: url('../images/svg/social-logo-red-fb.svg')
      .social-inst
        background-image: url('../images/svg/social-logo-red-inst.svg')
      .social-ytb
        background-image: url('../images/svg/social-logo-red-ytb.svg')



.close-trigger
  display: block
  width: 60px
  height: 60px
  position: absolute
  top: 4%
  right: 4%

  background-color: rgba(255,255,255,.5)
  -webkit-border-radius: 50%
  -moz-border-radius: 50%
  border-radius: 50%
  span
    display: block
    position: absolute
    background-color: $red
    height: 2px
    width: 40px
    border: 1px solid transparent
    -webkit-border-radius: 3px
    -moz-border-radius: 3px
    border-radius: 3px
    top: 50%
    left: 50%
    margin-left: -15px
  .bar-left
    -webkit-transform: rotate(45deg)
    transform: rotate(45deg)
    -webkit-transform-origin: 15% 15%
    transform-origin: 15% 15%
    margin-top: -11px
  .bar-right
    -webkit-transform: rotate(45deg)
    transform: rotate(-45deg)
    -webkit-transform-origin: 15% 95%
    transform-origin: 15% 95%
    margin-top: 9px

.menu_active
  -webkit-transform: translateX(0%)
  -moz-transform: translateX(0%)
  -ms-transform: translateX(0%)
  -o-transform: translateX(0%)
  transform: translateX(0%)
