//POPUP
.popup
  display: none
  position: fixed
  z-index: 150
  left: 0
  top: 0
  width: 100%
  height: 100vh
  background-color: rgba(0, 0, 0, .4)
  justify-content: center
  align-items: center

.popup-wrapper
  background-color: $red
  color: $white
  position: relative
  width: 650px
  height: 480px
  text-align: center
  padding: 5% 5% 3%
  box-sizing: border-box

  -webkit-box-shadow: -13px 0px 60px -17px rgba(0,0,0,0.6)
  -moz-box-shadow: -13px 0px 60px -17px rgba(0,0,0,0.6)
  box-shadow: -13px 0px 60px -17px rgba(0,0,0,0.6)
  z-index: 151

  -webkit-transition: .5s
  -moz-transition: .5s
  -ms-transition: .5s
  -o-transition: .5s
  transition: .5s

  animation-name: animatetop
  animation-duration: .6s

#modal_video
  .popup-wrapper
    padding: 1% 1%
    height: auto
    #player
      max-width: 100%

.close-popup-trigger
  display: block
  width: 50px
  height: 50px
  position: absolute
  top: 2%
  right: 2%
  cursor: pointer

  background-color: rgba(255,255,255,.5)
  -webkit-border-radius: 50%
  -moz-border-radius: 50%
  border-radius: 50%
  span
    display: block
    position: absolute
    background-color: $red
    height: 1px
    width: 26px
    border: 1px solid transparent
    -webkit-border-radius: 1px
    -moz-border-radius: 1px
    border-radius: 1px
    top: 50%
    left: 50%
    margin-left: -10px
  .bar-left
    -webkit-transform: rotate(45deg)
    transform: rotate(45deg)
    -webkit-transform-origin: 15% 15%
    transform-origin: 15% 15%
    margin-top: -8px
  .bar-right
    -webkit-transform: rotate(45deg)
    transform: rotate(-45deg)
    -webkit-transform-origin: 15% 95%
    transform-origin: 15% 95%
    margin-top: 6px


.popup
  .popup-h1
    font-size: 26px
    font-weight: 600
    margin-bottom: 19px
  .popup-h2
    font-size: 18px
    font-weight: 600
    margin-bottom: 1em
  form
    text-align: center
    input[type="text"]
      display: inline-block
      width: 60%
      padding: 6px 10%
      margin-bottom: 15px
      background-color: $white
      font-size: 18px
      font-weight: 600
      color: #969797
      line-height: 2
      -webkit-border-radius: 25px
      -moz-border-radius: 25px
      border-radius: 30px
      border: 2px solid #eee


  .submit-btn
    display: inline-block
    font-size: 22px
    font-weight: 500
    padding: 15px 55px 15px
    background-color: $darkred
    border: 2px solid $white
    border-radius: 30px
    line-height: 1.2
    color: $white
    margin-top: 20px
    cursor: pointer
    -webkit-transition: .3s
    -moz-transition: .3s
    -ms-transition: .3s
    -o-transition: .3s
    transition: .3s
    &:hover
      background-color: $red-hover

  .form-message
    font-size: 22px
    color: $white

  .input-error
    border: 2px solid #555