
//TOPBAR
.topbar
  width: 100%
  height: 18vh
  background: linear-gradient(180deg, rgba(10, 10, 10, .3) 0%, rgba(0, 0, 0, 0) 100%)
  padding: 10px 50px 0
  position: fixed
  top: 0
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
  z-index: 50


.topbar-wrapper
  width: 100%
  .logo
    display: inline-block
    opacity: 0
    padding-top: 23px
    a
      display: inline-block
      img
        max-height: 106px
    .logo-for-map-slider
      display: none

  .btn-callback
    float: right
    display: block
    -webkit-box-shadow: 0px 0px 0px 5px rgba(255,255,255,0.2)
    -moz-box-shadow: 0px 0px 0px 5px rgba(255,255,255,0.2)
    box-shadow: 0px 0px 0px 5px rgba(255,255,255,0.2)
    border: 0px solid rgba(0, 0, 0, 0)
    -webkit-border-radius: 30px
    -moz-border-radius: 30px
    border-radius: 30px
    background-color: $white
    color: $darkred
    font-size: 16px
    line-height: 1.2
    font-weight: 600
    padding: 10px 18px 10px
    margin-right: 30px
    margin-top: 38px
    -webkit-transition: .4s
    -moz-transition: .4s
    -ms-transition: .4s
    -o-transition: .4s
    transition: .4s
    &:hover
      color: $white
      background-color: $darkred

.menu-trigger
  float: right
  display: inline-block
  position: relative
  width: 60px
  height: 60px
  background-color: $darkred
  border: 1px solid rgba(0, 0, 0, 0)
  -webkit-border-radius: 50%
  -moz-border-radius: 50%
  border-radius: 50%
  margin-top: 25px
  -webkit-transition: .4s
  -moz-transition: .4s
  -ms-transition: .4s
  -o-transition: .4s
  transition: .4s
  span
    display: inline-block
    height: 3px
    width: 25px
    background-color: $white
    position: absolute
    top: 50%
    margin-top: -1px
    right: 50%
    margin-right: -18px
    border: 0px solid rgba(0, 0, 0, 0)
    -webkit-border-radius: 3px
    -moz-border-radius: 3px
    border-radius: 3px
    -webkit-transition: width .3s
    -moz-transition: width .3s
    -ms-transition: width .3s
    -o-transition: width .3s
    transition: width .3s
  .bar-top
    width: 35px
    transform: translateY(-10px)
  .bar-bot
    width: 35px
    transform: translateY(10px)
.menu-trigger:hover
  background-color: $red-hover
  .bar-mid
      width: 35px

.slider-back-btn
  display: none
  opacity: 0
  position: absolute
  bottom: -50px
  left: 60px
  cursor: pointer
  span
    display: inline-block
    font-size: 16px
    font-weight: 800
    color: $darkred
    color: $white
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25)
  svg,span
    -webkit-transition: .2s
    -moz-transition: .2s
    -ms-transition: .2s
    -o-transition: .2s
    transition: .2s
  svg
    path
      fill: $white
.white-slider-back-btn
  svg
    path
      fill: $white
  span
    color: $white


